body
{
   font-family: monospace;
}
.img-thumbnail
{
   max-width: 60px !important;
   min-width: 60px !important;
   max-height: 55px !important;
   min-height: 50px !important;
   padding: 0;
}

.imgtd
{
   padding: 2px !important;
}

button.btn {
   color: white;
   font-weight: 500;
   border-radius: 4px;
   box-shadow: 1px 1px 2px 0px black;
}

.nav-link {
   font-weight: 600;
   color: white;
   margin: 0 4px 0 0;
   border-radius: 4px;
   padding: 6px;
}
a.nav-link
{
   background-color: #1cc6fa;
}
button.nav-link
{
   background-color: rgba(7, 196, 127, 0.751);
}
a.nav-link:hover
{
   background-color: #fff;
   color: #1cc6fa;
}
button.nav-link:hover
{
   background-color: #fff;
   color: rgba(7, 196, 127, 0.751);
}

button.btn-primary
{
   background-color: #508fedea;
}

button.btn:hover
{
   color: #000;
}